body {
    margin: 0px;
    line-height: 1.3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white
}


.displayPrompt {
    margin: 5% 5%
}

.displayPoll {
    background-size: cover;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.display-list-group {
    width: 100;

}

.display-list-group2 {
    width: 800px;

}
.display-barchart {
    /* margin: 10rem 10rem 10rem 10rem; */
    width: 800px;

    /* flex: flex-grow; */

  }



.form-wrapper {
    width: 40%;
}

.navbar {
    display: flex;
    justify-content: space-between;
  }


.MuiToolbar-root {
    background-color: #023047;
  }

 .allcards {
    display: flex;
    align-items: space-around;
 }





  h1 {
    display: flex;
    align-items: center;
    justify-content: center;

  }

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header {
  margin: 1rem;
  margin-bottom: 1rem;
}

.box {
  border: 1px solid #023047;
  background: #8ecae6;
  padding: 6rem;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.takePoll {
  border: 1px solid black;
  background: #219ebc;
  color: #d0dee4;
  padding: 6rem;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.indivOption {
  display: flex;
  gap: 3rem;
}

.submitButton {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}


.submitButton {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
